html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
#control-menu{

    min-width: 25%;
    height: 100%;
    padding: 1rem;
}  

h4{
    display: inline-block;
}

h3{
    text-transform: uppercase;
}

